<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="converter">
    <template>
        <p>
            <label for="convert-to-system">Convert to or from:</label>
            <select id="convert-to-system">
                <option value="georef">Georeference</option>
                <option value="mh">Maidenhead</option>
                <option value="gh">Geohash</option>
            </select>
        </p>
        <p>
            <label for="latitude">Decimal Latitude</label>
            <input type="number" id="latitude" placeholder="Decimal Latitude">
        </p>
        <p>
            <label for="longitude">Decimal Longitude</label>
            <input type="number" id="longitude" placeholder="Decimal Longitude">
        </p>
        <p>
            <label for="reference-str">Reference Value</label>
            <input type="text" id="reference-str" placeholder="Reference Value">
        </p>
    </template>
    <script>
        class Converter extends Polymer.Element {
            static get is() { return 'converter'; }
            static get properties() {
                return {
                    prop1: {
                        type: String,
                        value: 'converter'
                    }
                };
            }
        }
        window.customElements.define(Converter.is, Converter);
    </script>
</dom-module>